@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
}


body {
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  max-width: 350px;
  padding: 10px;
  width: 100%;
  box-shadow: 5px 5px rgba(0,0,0,0.75);
  border-radius: 20px;
}

.card-img {
    border-radius: 20px;
    margin-top: 15px;
}

.text-box {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.text-box .type-box {
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(255, 234, 0);
    border-radius: 10px;
}


.text-box .title {
    font-size: 24px;
    font-weight: 800;
}

.text-box .text-data {
    font-size: 16px;
    font-weight: 100;
    color: hsl(0, 0%, 42%);
}


.profile .pfp {
    height: 50px;
    width: 50px;
}

.profile .name {
    padding: 15px;
    font-weight: 800;
}